.cayl-interstitial .cayl-cached, 
.cayl-interstitial .cayl-live {    
  float: right;
}

.cayl-cached {
  margin-right: 0;
  margin-left: 25px;
}                    
                   
.cayl-interstitial .cayl-cached a, 
.cayl-interstitial .cayl-live a
{                                                                        
  background: url(../images/Arrow-Large-Left.png) left bottom no-repeat;      
  text-align: right;
}             

.cayl-arrow {
  margin-left: 0;
  margin-right: 60px;
}
.cayl-hover .cayl-status-text {
   background-position: right 10px center;
   padding-right: 40px;
   padding-left: 0;
}

.cayl-hover .cayl-cache-text {
  padding-left: 0;
  padding-right: 40px;
}
              
.cayl-hover a.cayl-info {
  margin-right: 0;
  margin-left: 10px;
}

.cayl-hover .cayl-links a {
  margin-left: 0;
  margin-right: 40px;
}

a.cayl-info {
  float: left;
}
